.results__title {
  font-family: Roboto Slab, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.13;
  color: #1A1B22;
  max-width: 80%;
  margin: 0 auto 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .results__title {
    margin: 0 auto 2rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .results__title {
    margin: 0 auto 4rem 0;
  }
}

