.btn-auth {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn-auth {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    width: 152px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    text-justify: auto;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    background: transparent;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .btn-auth {
    height: 48px;
  }
}

.btn-auth_reg {
  width: auto;
  max-width: 10em;
}

.btn-auth_reg:hover {
  opacity: .5;
}

.btn_theme_white {
  color: #1A1B22;
  border: 1px solid #D1D2D6;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0);
}

@media screen and (min-width: 1440px) {
  .btn_theme_white {
    height: 48px;
    border: 1px solid #1A1B22;
    font-size: 18px;
    line-height: 24px;
  }
}

.btn_union {
  padding-left: 8px;
}

