.popup__title {
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0;
}

.popup__title_reg-done {
  margin: 43px auto 14px 36px;
}
