@import url(__avatar/about__avatar.css);
@import url(__text/about__text.css);
@import url(__text-item/about__text-item.css);
@import url(__title/about__title.css);
@import url(__description/about__description.css);


.about {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
}

@media screen and (min-width: 766px){
  .about {
    flex-direction: row;
    padding: 40px 40px 61px 40px;
 justify-content: left;
  }
}

@media screen and (min-width: 1440px){
  .about {
    padding: 80px 216px 80px 104px;
  }
}
