# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Dependency directory
node_modules

# Optional npm cache directory
# Optional REPL history
/app_server/models/readBase.js
/data/
/config.env
# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode
