

.header__title {
  font-size: 1rem;
  margin: auto 0;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  color: #FFFFFF;
  align-items: center;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 1.25rem;
    padding-left: 0;
    margin: auto 0 auto 0;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    align-items: left;
  }
}

.header__title_main {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 3;
}


@media screen and (min-width: 768px) {
  .header__title_main {
    display: block;
    margin: auto 0;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 20px;
    padding-top: 20px;

  }
}

.header__title_main_reg {
  padding-left: 1rem;
}

.header__title-link {
  display: none;
  font-family: Roboto, serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 2.11;
  font-weight: 500;
  text-decoration-line: none;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity .5s linear;

}

.header__title-link_theme_white {
  color: #1A1B22;
}

.header__title-link:hover {
  opacity: .5;

}

.header__title-link:focus {
  border-bottom: 3px solid #FFFFFF;
}

.header__title-link_theme_white:focus {
  border-bottom: 3px solid #1A1B22;
}

@media screen and (min-width: 768px) {
  .header__title-link  {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin: auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .header__title-link  {
    font-size: 18px;
    line-height: 24px;
    margin: auto 1rem auto auto;
  }
}


