.navbar__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 100%;
  height: calc(50% - 56px);
  background-color: #1A1B22;


  overflow: auto;
}

@media screen and (min-width: 768px){
  .navbar__content {
    background-color: transparent;
  }
}
