.preloader__searching {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  position: absolute;
  bottom: calc(50% - 72px);
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .preloader__searching {
    bottom: 80px;
    top: unset;
  }
}
