@import url(__content/footer__content.css);
@import url(__links/footer__links.css);
@import url(__link-item/footer__link-item.css);
@import url(__link/footer__link.css);
@import url(__copyright/footer__copyright.css);
@import url(__out-item/footer__out-item.css);
@import url(__out-link/footer__out-link.css);
@import url(__out-links/footer__out-links.css);
@import url(__social-icon/footer__social-icon.css);



.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 18px 70px 16px;
  margin: 0;
  background-color: #FFFFFF;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    padding: 0 40px 0 40px;
    height: 64px;
    width: 100%;
  }
}
