.popup__content {
  width: 100%;
  min-height: 560px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 16px 17px;
  z-index: 11;
  display: block;
  margin: 56px auto auto auto;
}

@media screen and (min-width: 768px) {
  .popup__content {
    width: 430px;
    height: min-content;
    min-height: 380px;
    justify-content: center;
    margin: 207px auto auto auto;
  }
}

.popup__content_reg-done {
  width: 100%;
  min-height: 560px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  z-index: 11;
  display: block;
  margin: 56px auto auto auto;
  padding: 1px;
}

@media screen and (min-width: 768px){
  .popup__content_reg-done {
    width: 430px;
    min-height: 182px;
    margin: 279px auto auto auto;
  }
}
