.about__text {
  margin: 0 1rem 5rem 1rem;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .about__text {
    margin: 0 0 auto 0;
    width: 50vw;
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .about__text {
    margin: 0 0 auto 0;
    width: 41vw;
  }
}
