@import url(./blocks/header/header.css);
@import url(./blocks/body/body_bg-gray.css);
@import url(./blocks/page/page.css);
@import url(./blocks/navbar/navbar.css);
@import url(blocks/group/group.css);
@import url(./blocks/main/main.css);
@import url(./blocks/about/about.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/results/results.css);
@import url(blocks/preloader/preloader.css);
@import url(blocks/page_saved/page_saved.css);
@import url(./blocks/header/header_theme_white.css);
@import url(./blocks/not-found/not-found.css);


@font-face {
  font-family: Inter, Serif;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./vendor/fonts-backend/inter-regular.woff") format("woff"),
  url("./vendor/fonts-backend/inter-regular.woff") format("woff");
}

@font-face {
  font-family: Roboto, Serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./vendor/fonts-backend/roboto-medium.woff") format("woff"),
  url("./vendor/fonts-backend/roboto-medium.woff") format("woff");
}

@font-face {
  font-family: Roboto, Serif;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./vendor/fonts-backend/roboto-black.woff") format("woff"),
  url("./vendor/fonts-backend/roboto-black.woff") format("woff");
}

@font-face {
  font-family: Roboto Slab, Serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./vendor/fonts-backend/robotoslab-regular.woff") format("woff"),
  url("./vendor/fonts-backend/robotoslab-regular.woff") format("woff");
}

@font-face {
  font-family: Roboto, Serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./vendor/fonts-backend/roboto-regular.woff") format("woff"),
  url("./vendor/fonts-backend/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: Roboto, Serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./vendor/fonts-backend/sourcesanspro-regular.woff") format("woff"),
  url("./vendor/fonts-backend/sourcesanspro-regular.woff") format("woff");
}

@font-face {
  font-family: Roboto Slab, Serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./vendor/fonts-backend/RobotoSlab-Bold.ttf") format("ttf"),
  url("./vendor/fonts-backend/RobotoSlab-Bold.ttf") format("ttf");
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {box-sizing: inherit}
