.popup__button_type_enter {
  font-size: 18px;
  line-height: 22px;
  background: #E6E8EB;
  border-radius: 100px;
  width: 288px;
  height: 64px;
  border: none;
  margin-top: 14px;
  position: center;
  transition: box-shadow 0.3s ease;
}

@media screen and (min-width: 768px) {
  .popup__button_type_enter {
    width: 358px;
    margin-top: 30px;
    padding: 0;
  }
}

.popup__button_type_reg {
  margin-top: 0;
  background: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #FFFFFF;

}

.popup__button_type_enter:hover {
  box-shadow: 0 0 20px #4E52B0;
  cursor: pointer;
}
