.about__avatar {
  display: block;
  margin: 2rem 1.5rem 1.5rem 1.5rem;
  min-width: 272px;
  min-height: 272px;
  max-width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/image-03.png);
}

@media screen and (min-width: 425px) {
  .about__avatar {
    width: 70vw;
    height: 70vw;
    margin: 2rem auto 1.5rem auto ;
  }
}

@media screen and (min-width: 768px) {
  .about__avatar {
    width: 32vw;
    height: 32vw;
    margin: auto auto auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .about__avatar {
    max-width: 464px;
    max-height: 464px;
    margin: 0 56px 0 0;
  }
}
